# Thư mục build & runtime
bin/
obj/
*.exe
*.dll
*.pdb
*.log
*.pid
*.tar.gz
*.zip
*.vs/
.vscode/
.DS_Store
node_modules/
.vs/
*.bin
*.suo
*.v2
*.vsidx


# Thư viện cài qua NuGet
packages/
project.lock.json
project.assets.json

# appsettings.Development.json
# appsettings.json
server/appsettings.json
secrets.json

.env